body {
    font-family: Roboto, Oxygen, Cambria, "sans serif";
    display: flex;
    flex-flow: column;
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 16px;
    margin: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    /* color: #e5e7eb; */
    color: #f9faf8;
    border: none;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    flex: 0 1 auto;
}

.header {
    display: flex;
    flex-flow: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    justify-content: space-between;
}

.header-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ribbon p {
    margin: 8px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.header-container p {
    font-size: 18px;
    color: #e5e7eb;
    /* color: red; */
}

.hook {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
    margin: 8px;
}

.title-text {
    font-size: 48px;
    font-weight: bolder;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
    text-align: center;
    align-items: center;
}